*{
    padding :0;
    margin : 0;
}

header{
    text-align: justify;
    font-size : 22px;
    color : white;
    text-shadow : 2px 2px 2px black;
}

header p{
    width : 90%;
    margin : auto;
}

#photo{
    height : 200px;
    width : 200px;
    margin : auto;
    border-radius: 100%;
    background-image: url('../img/photo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banniere{
    background-repeat: no-repeat;
    background-image: url('../img/bannière.jpg');
    background-size: cover;
    border-bottom: 1px solid black;
}

.banniere1{
    background-position: left top;
}

.banniere2{
    background-position: center top;
}

.banniere3{
    background-position: right top;
}

.center{
    position: relative;
    margin : auto;
}

.center1{
    top : 8%;
}

.center2{
    margin-top : 5%;
}

.center2 p{
    text-align: center;
    font-size : 25px;
}

.center3{
    top : 5%;
    line-height : 80px;
    width : 100%;
    font-size : 0.7em;
}

.paragraphe{
    text-align : center;
    border-bottom : 1px solid black;
}

.paragraphe h2{
    margin-top : 20px;
    margin-bottom : 15px;
    text-decoration: underline;
}

.paragraphe h2 i{
    margin-right : 5px;
}

.paragraphe h3{
    text-decoration: underline;
}

.paragraphe h3 i{
    margin-right : 5px;
}

#aPropos p{
    font-size : 18px;
}

#formation h3{
    font-size : 14px;
}

#formation p{
    font-size : 12px;
    margin-bottom : 0px;
}

.formation{
    margin-top : 20px;
}

#projet p{
    margin-top : 50px;
}

#interet h2{
    margin-bottom : 100px;
}

#interet p{
    font-size : 18px;
}

i{
    color : lightgreen;
}