*{
    padding :0;
    margin : 0;
}

header{
    text-align: justify;
    font-size : 25px;
    color : white;
    text-shadow : 2px 2px 2px black;
}

header p{
    width : 90%;
    margin : auto;
}

#photo{
    height : 200px;
    width : 200px;
    margin : auto;
    border-radius: 100%;
    background-image: url('../img/test.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banniere{
    background-repeat: no-repeat;
    background-image: url('../img/bannière.jpg');
    background-size: cover;
    border-bottom: 1px solid black;
}

.banniere1{
    background-position: left top;
}

.banniere2{
    background-position: center top;
}

.banniere3{
    background-position: right top;
}

.center{
    position: relative;
    margin : auto;
}

.center1{
    top : 8%;
}

.center2{
    margin-top : 10%;
}

.center2 p{
    text-align: center;
    font-size : 30px;
}

.center3{
    top : 30%;
    width : 100%;
    font-size : 0.7em;
}

.center4 h1{
    
}